Repository US-Trustee-Program/Bankruptcy-Oversight-Support-Systems, pull requests merged in 2023-11, with the labels that each got.

#233 [Snyk] Upgrade com.microsoft.sqlserver:mssql-jdbc from 12.2.0.jre11 to 12.4.1.jre11
  ops/dataloader/pom.xml
Labels: dependencies

#241 CAMS-205 Added debtor attorney email with corresponding tests
  backend/functions/lib/adapters/gateways/dxtr/cases.dxtr.gateway.test.ts
  backend/functions/lib/adapters/gateways/dxtr/cases.dxtr.gateway.ts
  backend/functions/lib/adapters/types/cases.d.ts
  backend/functions/lib/testing/mock-data/debtor-attorneys.mock.ts
  docs/running.md
  user-interface/src/components/CaseDetail.test.tsx
  user-interface/src/components/CaseDetail.tsx
  user-interface/src/models/chapter15-mock.api.cases.ts
  user-interface/src/type-declarations/chapter-15.d.ts
Labels: CAMS-205, user_story

#243 CAMS-215 Corrected multiple assignment bug
  user-interface/src/components/AssignAttorneyModal.test.tsx
  user-interface/src/components/AssignAttorneyModal.tsx
  user-interface/src/components/CaseAssignment.tsx
Labels: bug, CAMS-215

#240 CAMS-216 handle cosmos errors
  backend/functions/case-assignments/case.assignment.function.test.ts
  backend/functions/cases/cases.function.test.ts
  backend/functions/lib/adapters/gateways/case.assignment.cosmosdb.repository.test.ts
  backend/functions/lib/adapters/gateways/case.assignment.cosmosdb.repository.ts
  backend/functions/lib/adapters/utils/http-response.test.ts
  backend/functions/lib/adapters/utils/http-response.ts
  backend/functions/lib/use-cases/attorneys.ts
  backend/functions/lib/use-cases/case-management.test.ts
  backend/functions/lib/use-cases/case-management.ts
  backend/functions/lib/use-cases/case.assignment.ts
  user-interface/src/components/CaseAssignment.tsx
  user-interface/src/models/api.test.ts
  user-interface/src/models/api.ts
Labels: bug

#239 [Snyk] Upgrade @types/react-dom from 18.2.13 to 18.2.14
  user-interface/package-lock.json
  user-interface/package.json
Labels: dependencies

#267 CAMS-208 judicial district
  backend/functions/lib/adapters/gateways/dxtr/cases.dxtr.gateway.test.ts
  backend/functions/lib/adapters/gateways/dxtr/cases.dxtr.gateway.ts
  backend/functions/lib/adapters/types/cases.d.ts
  backend/functions/lib/testing/mock-data/cases.mock.json
  user-interface/src/components/CaseDetail.scss
  user-interface/src/components/CaseDetail.test.tsx
  user-interface/src/components/CaseDetail.tsx
  user-interface/src/models/chapter15-mock.api.cases.ts
  user-interface/src/type-declarations/chapter-15.d.ts
Labels: user_story

#281 CAMS-214 view petition type
  backend/functions/lib/adapters/gateways/dxtr/cases.dxtr.gateway.test.ts
  backend/functions/lib/adapters/gateways/dxtr/cases.dxtr.gateway.ts
  backend/functions/lib/adapters/gateways/dxtr/dxtr.gateway.helper.test.ts
  backend/functions/lib/adapters/gateways/dxtr/dxtr.gateway.helper.ts
  backend/functions/lib/adapters/gateways/petition-gateway.test.ts
  backend/functions/lib/adapters/gateways/petition-gateway.ts
  backend/functions/lib/adapters/types/cases.d.ts
  backend/functions/lib/testing/mock-data/cases.mock.json
  dev-tools/test-data/misc/sql/bulk-generate-debtor-type.sql
  user-interface/src/components/CaseDetail.test.tsx
  user-interface/src/components/CaseDetail.tsx
  user-interface/src/models/chapter15-mock.api.cases.ts
  user-interface/src/type-declarations/chapter-15.d.ts
Labels: user_story

#288 CAMS-233 dependency updates
  .pre-commit-config.yaml
  backend/functions/package-lock.json
  backend/functions/package.json
  common/package-lock.json
  common/package.json
  dev-tools/package-lock.json
  dev-tools/package.json
  user-interface/package-lock.json
  user-interface/package.json
  user-interface/src/components/uswds/Alert.tsx
Labels: DevExOpEx

#283 CAMS-55 configuration keyvault
  .github/workflows/continuous-deployment.yml
  .gitignore
  docs/deployment.md
  docs/ops.md
  ops/cloud-deployment/backend-api-deploy.bicep
  ops/cloud-deployment/frontend-webapp-deploy.bicep
  ops/cloud-deployment/identity/managed-identity.bicep
  ops/cloud-deployment/keyvault-app-config-setup/kv-app-config-network.bicep
  ops/cloud-deployment/keyvault-app-config-setup/kv-app-config.bicep
  ops/cloud-deployment/keyvault/keyvault.bicep
  ops/cloud-deployment/network/private-dns-zones.bicep
  ops/cloud-deployment/params/ustp-cams.parameters.json.sample
  ops/cloud-deployment/subnet/network-subnet-private-endpoint.bicep
  ops/cloud-deployment/ustp-cams-kv-app-config-setup.bicep
  ops/cloud-deployment/ustp-cams.bicep
  ops/helper-scripts/az-func-deploy.sh
Labels: DevExOpEx

#297 CAMS-162 Updated shell scripts base on shellcheck linter
  .pre-commit-config.yaml
  architecture/export-architecture-diagrams.sh
  ops/helper-scripts/accessibility-test.sh
  ops/helper-scripts/az-app-deploy.sh
  ops/helper-scripts/az-delete-branch-resources.sh
  ops/helper-scripts/az-func-deploy.sh
  ops/helper-scripts/azure-deploy-rg.sh
  ops/helper-scripts/azure-deploy.sh
  ops/helper-scripts/data/import-data.sh
  ops/helper-scripts/dev-add-allowed-ip.sh
  ops/helper-scripts/dev-rm-allowed-ip.sh
  ops/helper-scripts/generate-stackname.sh
  ops/helper-scripts/pre-commit-hook-content
  ops/helper-scripts/sec-update-baseline.sh
  ops/helper-scripts/set-up-git-hooks.sh
Labels: DevExOpEx

#302 CAMS-219 Case Docket API
  backend/functions/attorneys/attorneys.function.ts
  backend/functions/azure/app-insights.ts
  backend/functions/case-assignments/case.assignment.function.test.ts
  backend/functions/case-assignments/case.assignment.function.ts
  backend/functions/case-docket/case-docket.function.test.ts
  backend/functions/case-docket/case-docket.function.ts
  backend/functions/case-docket/function.json
  backend/functions/cases/cases.function.ts
  backend/functions/jest.config.js
  backend/functions/lib/adapters/gateways/dxtr/case-docket.dxtr.gateway.test.ts
  backend/functions/lib/adapters/gateways/dxtr/case-docket.dxtr.gateway.ts
  backend/functions/lib/adapters/gateways/dxtr/case-docket.mock.gateway.ts
  backend/functions/lib/adapters/gateways/dxtr/cases.dxtr.gateway.ts
  backend/functions/lib/adapters/gateways/dxtr/dxtr.gateway.helper.ts
  backend/functions/lib/adapters/gateways/gateways.types.ts
  backend/functions/lib/adapters/types/basic.d.ts
  backend/functions/lib/adapters/utils/application-context-creator.ts
  backend/functions/lib/adapters/utils/http-response.test.ts
  backend/functions/lib/adapters/utils/http-response.ts
  backend/functions/lib/common-errors/common-errors.test.ts
  backend/functions/lib/common-errors/not-found-error.ts
  backend/functions/lib/controllers/case-docket/case-docket.controller.test.ts
  backend/functions/lib/controllers/case-docket/case-docket.controller.ts
  backend/functions/lib/factory.ts
  backend/functions/lib/testing/testing-utilities.ts
  backend/functions/lib/use-cases/case-docket/case-docket.model.ts
  backend/functions/lib/use-cases/case-docket/case-docket.test.ts
  backend/functions/lib/use-cases/case-docket/case-docket.ts
  dev-tools/test-data/index.ts
  dev-tools/test-data/misc/csv/AO_DE.csv
  dev-tools/test-data/scripts/docketEntries.ts
  dev-tools/test-data/tables/AO_DE.ts
  dev-tools/test-data/tables/AO_GRP_DES.ts
  dev-tools/test-data/tables/AO_REGION.ts
  dev-tools/test-data/tables/common.ts
  dev-tools/test-data/utility.ts
  ops/git-setup/commit.template
  user-interface/src/case-detail/CaseDetailScreen.tsx
  user-interface/src/case-detail/panels/CaseDetailCourtDocket.scss
  user-interface/src/case-detail/panels/CaseDetailCourtDocket.tsx
  user-interface/src/lib/type-declarations/chapter-15.d.ts
Labels: user_story

#303 CAMS-221: Add docket search bar
  common/src/feature-flags.ts
  docs/_sidebar.md
  docs/contributing/README.md
  docs/contributing/_sidebar.md
  docs/contributing/feature-flags.md
  user-interface/featureFlags.json
  user-interface/src/case-detail/panels/CaseDetailCourtDocket.test.tsx
  user-interface/src/case-detail/panels/CaseDetailCourtDocket.tsx
  user-interface/src/lib/components/IconInput.scss
  user-interface/src/lib/components/IconInput.tsx
  user-interface/src/lib/components/IconInputTest.tsx
  user-interface/src/lib/components/uswds/Icon.tsx
  user-interface/src/lib/hooks/UseFeatureFlags.ts
Labels: user_story

#310 CAMS-242 Fixed tax info message and ul spacing
  user-interface/src/case-detail/CaseDetailScreen.scss
  user-interface/src/case-detail/CaseDetailScreen.test.tsx
  user-interface/src/case-detail/panels/CaseDetailBasicInfo.tsx
Labels: CAMS-242

#305 Cams 219 user interface improvements
  architecture/cams.dsl
  backend/functions/case-docket/case-docket.function.test.ts
  backend/functions/lib/adapters/gateways/dxtr/case-docket.dxtr.gateway.test.ts
  backend/functions/lib/adapters/gateways/dxtr/case-docket.mock.gateway.ts
  backend/functions/lib/adapters/gateways/gateway-helper.ts
  backend/functions/lib/controllers/case-docket/case-docket.controller.test.ts
  backend/functions/lib/testing/mock-data/case-docket-entries.mock.ts
  backend/functions/lib/use-cases/case-docket/case-docket.model.ts
  backend/functions/lib/use-cases/case-docket/case-docket.test.ts
  docs/architecture/diagrams/cams-containers.md
  docs/architecture/diagrams/cams-context.md
  docs/architecture/diagrams/cams-functions-api-components.md
  docs/architecture/diagrams/cams-webapp-components.md
  docs/architecture/diagrams/cams-webapp-with-functions-api.md
  user-interface/src/case-detail/CaseDetailScreen.test.tsx
  user-interface/src/case-detail/CaseDetailScreen.tsx
  user-interface/src/case-detail/panels/CaseDetailCourtDocket.test.tsx
  user-interface/src/case-detail/panels/CaseDetailCourtDocket.tsx
  user-interface/src/case-detail/panels/CaseDetailHeader.test.tsx
  user-interface/src/case-detail/panels/CaseDetailHeader.tsx
  user-interface/src/case-detail/panels/CaseDetailNavigation.test.tsx
  user-interface/src/case-detail/panels/CaseDetailNavigation.tsx
  user-interface/src/lib/components/IconInputTest.tsx
  user-interface/src/lib/models/chapter15-mock.api.cases.ts
  user-interface/src/router.test.tsx
  user-interface/vite.config.ts
Labels: user_story

#313 CAMS-221 search docket entry UI
  .pre-commit-config.yaml
  backend/functions/package-lock.json
  backend/functions/package.json
  common/package-lock.json
  common/package.json
  common/src/feature-flags.ts
  dev-tools/package-lock.json
  dev-tools/package.json
  user-interface/.pa11yci
  user-interface/featureFlags.json
  user-interface/package-lock.json
  user-interface/package.json
  user-interface/src/case-detail/panels/CaseDetailCourtDocket.scss
  user-interface/src/case-detail/panels/CaseDetailCourtDocket.test.tsx
  user-interface/src/case-detail/panels/CaseDetailCourtDocket.tsx
  user-interface/src/configuration/featureFlagConfiguration.ts
  user-interface/src/lib/components/IconInput.tsx
  user-interface/src/lib/models/chapter15-mock.api.cases.ts
  user-interface/src/lib/type-declarations/attorneys.ts
  user-interface/src/lib/type-declarations/window-experimental.d.ts
  user-interface/src/lib/utils/highlight-api.test.ts
  user-interface/src/lib/utils/highlight-api.ts
  user-interface/src/styles/abstracts/_colors.scss
  user-interface/tsconfig.json
  user-interface/vite.config.ts
Labels: user_story, CAMS-221

#320 CAMS-250 null summary bug
  backend/functions/lib/adapters/gateways/dxtr/case-docket.dxtr.gateway.ts
Labels: bug

#317 CAMS-222 Sort docket entries
  user-interface/src/case-detail/panels/CaseDetailCourtDocket.scss
  user-interface/src/case-detail/panels/CaseDetailCourtDocket.test.tsx
  user-interface/src/case-detail/panels/CaseDetailCourtDocket.tsx
Labels: user_story

#325 CAMS-224 view docket document
  backend/functions/case-docket/case-docket.function.test.ts
  backend/functions/lib/adapters/gateways/dxtr/case-docket.dxtr.gateway.test.ts
  backend/functions/lib/adapters/gateways/dxtr/case-docket.dxtr.gateway.ts
  backend/functions/lib/adapters/gateways/dxtr/case-docket.mock.gateway.ts
  backend/functions/lib/adapters/gateways/gateway-helper.ts
  backend/functions/lib/adapters/gateways/gateways.types.ts
  backend/functions/lib/controllers/case-docket/case-docket.controller.test.ts
  backend/functions/lib/testing/mock-data/case-docket-entries.mock.ts
  backend/functions/lib/use-cases/case-docket/case-docket.model.ts
  backend/functions/lib/use-cases/case-docket/case-docket.test.ts
  backend/functions/lib/use-cases/case-docket/case-docket.ts
  backend/functions/lib/use-cases/gateways.types.ts
  dev-tools/test-data/misc/csv/AO_PDF_PATH.csv
  dev-tools/test-data/scripts/docketEntries.ts
  dev-tools/test-data/tables/AO_DC.ts
  user-interface/.pa11yci
  user-interface/src/case-detail/CaseDetailScreen.tsx
  user-interface/src/case-detail/panels/CaseDetailBasicInfo.tsx
  user-interface/src/case-detail/panels/CaseDetailCourtDocket.scss
  user-interface/src/case-detail/panels/CaseDetailCourtDocket.test.tsx
  user-interface/src/case-detail/panels/CaseDetailCourtDocket.tsx
  user-interface/src/lib/components/IconInput.tsx
  user-interface/src/lib/components/uswds/Alert.scss
  user-interface/src/lib/components/uswds/Alert.test.tsx
  user-interface/src/lib/components/uswds/Alert.tsx
  user-interface/src/lib/components/uswds/Button.tsx
  user-interface/src/lib/components/uswds/modal/SubmitCancelButtonGroup.test.tsx
  user-interface/src/lib/components/uswds/modal/ToggleModalButton.tsx
  user-interface/src/lib/models/chapter15-mock.api.cases.ts
  user-interface/src/lib/type-declarations/chapter-15.d.ts
  user-interface/vite.config.ts
Labels: user_story
