Repository US-Trustee-Program/Bankruptcy-Oversight-Support-Systems, pull requests merged in 2023-12, with the labels that each got.

#337 CAMS-247 Add debtor attorney office to case detail
  backend/functions/lib/adapters/gateways/dxtr/case-docket.mock.gateway.ts
  backend/functions/lib/adapters/gateways/dxtr/cases.dxtr.gateway.ts
  backend/functions/lib/adapters/types/cases.d.ts
  backend/functions/lib/testing/mock-data/debtor-attorneys.mock.ts
  dev-tools/test-data/scripts/caseAttorneys.ts
  user-interface/src/case-detail/CaseDetailScreen.scss
  user-interface/src/case-detail/panels/CaseDetailBasicInfo.test.tsx
  user-interface/src/case-detail/panels/CaseDetailBasicInfo.tsx
  user-interface/src/case-detail/panels/CaseDetailCourtDocket.scss
  user-interface/src/case-detail/panels/CaseDetailCourtDocket.tsx
  user-interface/src/lib/type-declarations/chapter-15.d.ts
Labels: user_story

#341 CAMS-252 reformat dates
  backend/functions/lib/adapters/controllers/cases.controller.test.ts
  backend/functions/lib/adapters/gateways/dxtr/case-docket.dxtr.gateway.ts
  backend/functions/lib/adapters/gateways/dxtr/cases.dxtr.gateway.test.ts
  backend/functions/lib/adapters/gateways/dxtr/cases.dxtr.gateway.ts
  backend/functions/lib/adapters/utils/date-helper.test.ts
  backend/functions/lib/adapters/utils/date-helper.ts
  user-interface/src/case-assignment/CaseAssignmentScreen.tsx
  user-interface/src/case-detail/CaseDetailScreen.test.tsx
  user-interface/src/case-detail/panels/CaseDetailBasicInfo.tsx
  user-interface/src/case-detail/panels/CaseDetailCourtDocket.test.tsx
  user-interface/src/case-detail/panels/CaseDetailCourtDocket.tsx
  user-interface/src/lib/models/chapter15-mock.api.cases.ts
  user-interface/src/lib/utils/datetime.test.ts
  user-interface/src/lib/utils/datetime.ts
Labels: user_story

#329 CAMS-14 sql with managed identity
  .github/workflows/continuous-deployment.yml
  backend/functions/healthcheck/healthcheck.db.cosmos.ts
  backend/functions/healthcheck/healthcheck.db.sql.ts
  backend/functions/healthcheck/healthcheck.function.ts
  backend/functions/healthcheck/healthcheck.test.ts
  backend/functions/lib/adapters/gateways/azure.sql.gateway.test.ts
  backend/functions/lib/adapters/gateways/azure.sql.gateway.ts
  backend/functions/lib/adapters/types/basic.d.ts
  backend/functions/lib/adapters/types/database.d.ts
  backend/functions/lib/adapters/utils/database.exception.test.ts
  backend/functions/lib/adapters/utils/database.test.ts
  backend/functions/lib/adapters/utils/database.ts
  backend/functions/lib/configs/application-configuration.test.ts
  backend/functions/lib/configs/application-configuration.ts
  backend/functions/lib/factory.test.ts
  backend/functions/lib/factory.ts
  docs/operations/deployment.md
  docs/running.md
  ops/cloud-deployment/backend-api-deploy.bicep
  ops/cloud-deployment/main.bicep
Labels: DevExOpEx

#348 [Snyk] Upgrade @launchdarkly/node-server-sdk from 9.0.2 to 9.0.3
  backend/functions/package-lock.json
  backend/functions/package.json
Labels: dependencies

#352 CAMS-255 filter by document number
  user-interface/.pa11yci
  user-interface/src/case-detail/CaseDetailScreen.test.tsx
  user-interface/src/case-detail/CaseDetailScreen.tsx
  user-interface/src/case-detail/CaseDetailScreenSortAndFilter.test.tsx
  user-interface/src/case-detail/panels/CaseDetailCourtDocket.test.tsx
  user-interface/src/case-detail/panels/CaseDetailCourtDocket.tsx
  user-interface/src/lib/components/IconInput.tsx
  user-interface/src/lib/components/uswds/Alert.scss
  user-interface/src/lib/components/uswds/Alert.test.tsx
  user-interface/src/lib/components/uswds/Alert.tsx
Labels: user_story

#375 CAMS-254 filter by date range
  user-interface/.pa11yci
  user-interface/src/case-detail/CaseDetailScreen.tsx
  user-interface/src/case-detail/CaseDetailScreenSortAndFilter.test.tsx
  user-interface/src/case-detail/panels/CaseDetailCourtDocket.test.tsx
  user-interface/src/case-detail/panels/CaseDetailNavigation.tsx
  user-interface/src/lib/components/uswds/DateRangePicker.test.tsx
  user-interface/src/lib/components/uswds/DateRangePicker.tsx
Labels: user_story

#383 CAMS-146: frontend deployment retry
  .github/workflows/continuous-deployment.yml
Labels: DevExOpEx

#358 CAMS-254 Update npm packages flagged for moderate risk
  user-interface/package-lock.json
Labels: dependencies

#356 [Snyk] Upgrade @types/node from 20.9.0 to 20.9.1
  dev-tools/package-lock.json
  dev-tools/package.json
Labels: dependencies

#389 CAMS-254 Re-enable pa11y tests. Fix side nav styling.
  user-interface/.pa11yci
  user-interface/src/case-detail/CaseDetailScreen.scss
  user-interface/src/case-detail/CaseDetailScreen.test.tsx
  user-interface/src/case-detail/CaseDetailScreen.tsx
  user-interface/src/case-detail/panels/CaseDetailHeader.scss
  user-interface/src/case-detail/panels/CaseDetailNavigation.tsx
  user-interface/src/lib/components/uswds/DateRangePicker.scss
  user-interface/src/lib/components/uswds/DateRangePicker.tsx
  user-interface/src/styles/theme.scss
Labels: user_story

#387 [Snyk] Upgrade @typescript-eslint/eslint-plugin from 6.11.0 to 6.12.0
  dev-tools/package-lock.json
  dev-tools/package.json
Labels: dependencies

#402 Cams 293 fix veracode scan
  .github/workflows/continuous-deployment.yml
Labels: bug

#403 CAMS-90 Edit case assignment
  backend/functions/case-assignments/case.assignment.function.test.ts
  backend/functions/lib/adapters/controllers/case.assignment.controller.ts
  backend/functions/lib/adapters/gateways/case.assignment.cosmosdb.repository.test.ts
  backend/functions/lib/adapters/gateways/case.assignment.cosmosdb.repository.ts
  backend/functions/lib/adapters/gateways/case.assignment.local.repository.test.ts
  backend/functions/lib/adapters/gateways/case.assignment.local.repository.ts
  backend/functions/lib/adapters/types/case.assignment.role.ts
  backend/functions/lib/adapters/types/case.attorney.assignment.ts
  backend/functions/lib/cosmos-humble-objects/fake.cosmos-client-humble.ts
  backend/functions/lib/interfaces/case.assignment.repository.interface.d.ts
  backend/functions/lib/use-cases/case-management.test.ts
  backend/functions/lib/use-cases/case.assignment.test.ts
  backend/functions/lib/use-cases/case.assignment.ts
  user-interface/src/case-assignment/AssignAttorneyModal.test.tsx
  user-interface/src/case-assignment/AssignAttorneyModal.tsx
  user-interface/src/case-assignment/CaseAssignmentScreen.scss
  user-interface/src/case-assignment/CaseAssignmentScreen.tsx
  user-interface/src/case-detail/CaseDetailScreen.tsx
  user-interface/src/lib/components/uswds/Checkbox.tsx
  user-interface/src/lib/components/uswds/DateRangePicker.tsx
  user-interface/src/lib/components/uswds/modal/ToggleModalButton.tsx
  user-interface/src/lib/components/uswds/modal/modal-refs.d.ts
Labels: user_story

#410 CAMS-249 Add test coverage for useFeatureFlag hook
  user-interface/src/App.tsx
  user-interface/src/configuration/featureFlagConfiguration.ts
  user-interface/src/lib/hooks/UseFeatureFlags.test.ts
  user-interface/src/lib/hooks/UseFeatureFlags.ts
Labels: user_story

#411 CAMS-295 Added new USWDS banner and header, and screen stub
  common/src/feature-flags.ts
  user-interface/.pa11yci
  user-interface/src/App.tsx
  user-interface/src/case-detail/CaseDetailScreen.tsx
  user-interface/src/case-detail/panels/CaseDetailNavigation.test.tsx
  user-interface/src/lib/components/HeaderNavBar.test.tsx
  user-interface/src/lib/components/HeaderNavBar.tsx
  user-interface/src/lib/components/uswds/Banner.scss
  user-interface/src/lib/components/uswds/Banner.tsx
  user-interface/src/lib/components/uswds/Header.scss
  user-interface/src/lib/components/uswds/Header.test.tsx
  user-interface/src/lib/components/uswds/Header.tsx
  user-interface/src/lib/hooks/UseFeatureFlags.ts
  user-interface/src/review-orders/ReviewOrdersScreen.test.tsx
  user-interface/src/review-orders/ReviewOrdersScreen.tsx
  user-interface/src/router.test.tsx
Labels: user_story, task
