Repository US-Trustee-Program/Bankruptcy-Oversight-Support-Systems, pull requests merged in 2024-01, with the labels that each got.

#447 CAMS-263: Added coverage
  user-interface/src/lib/components/SearchableSelect.test.tsx
  user-interface/src/lib/components/SearchableSelect.tsx
  user-interface/src/lib/components/uswds/Input.test.tsx
Labels: user_story

#448 CAMS-263 Improve a11y for review orders accordion
  user-interface/src/review-orders/TransferOrderAccordion.tsx
Labels: user_story

#453 CAMS-266 case detail view transfer
  backend/functions/lib/adapters/gateways/cases.cosmosdb.repository.test.ts
  backend/functions/lib/adapters/gateways/cases.cosmosdb.repository.ts
  backend/functions/lib/adapters/gateways/orders.cosmosdb.repository.test.ts
  backend/functions/lib/adapters/gateways/orders.cosmosdb.repository.ts
  backend/functions/lib/adapters/gateways/runtime-state.cosmosdb.repository.test.ts
  backend/functions/lib/adapters/types/cases.d.ts
  backend/functions/lib/controllers/orders/orders.controller.test.ts
  backend/functions/lib/controllers/orders/orders.controller.ts
  backend/functions/lib/cosmos-humble-objects/fake.cases.cosmos-client-humble.ts
  backend/functions/lib/factory.ts
  backend/functions/lib/testing/mock.cosmos-client-humble.helpers.ts
  backend/functions/lib/testing/mock.cosmos-client-humble.ts
  backend/functions/lib/use-cases/case-management.ts
  backend/functions/lib/use-cases/gateways.types.ts
  backend/functions/lib/use-cases/orders/orders.model.ts
  backend/functions/lib/use-cases/orders/orders.test.ts
  backend/functions/lib/use-cases/orders/orders.ts
  ops/cloud-deployment/ustp-cams-cosmos.bicep
  user-interface/src/case-detail/CaseDetailScreen.scss
  user-interface/src/case-detail/CaseDetailScreen.test.tsx
  user-interface/src/case-detail/CaseDetailScreenSortAndFilter.test.tsx
  user-interface/src/case-detail/panels/CaseDetailBasicInfo.test.tsx
  user-interface/src/case-detail/panels/CaseDetailBasicInfo.tsx
  user-interface/src/lib/models/chapter15-mock.api.cases.ts
  user-interface/src/lib/type-declarations/chapter-15.d.ts
  user-interface/src/lib/utils/datetime.test.ts
  user-interface/src/lib/utils/datetime.ts
Labels: user_story

#454 CAMS-266 Minor fixes from PR
  user-interface/src/case-detail/panels/CaseDetailBasicInfo.test.tsx
  user-interface/src/case-detail/panels/CaseDetailBasicInfo.tsx
  user-interface/src/lib/models/chapter15-mock.api.cases.ts
  user-interface/src/lib/type-declarations/chapter-15.d.ts
Labels: user_story

#466 CAMS-319 veracode fix pipeline scan
  .github/workflows/continuous-deployment.yml
Labels: DevExOpEx

#467 Dependency updates
  backend/functions/package-lock.json
  backend/functions/package.json
  common/package-lock.json
  common/package.json
  dev-tools/package-lock.json
  dev-tools/package.json
  user-interface/package-lock.json
  user-interface/package.json
  user-interface/vite.config.mts
Labels: dependencies
