Repository US-Trustee-Program/Bankruptcy-Oversight-Support-Systems, changes with the owners that CODEOWNERS names for each.
All owners: @US-Trustee-Program/ustp-team, @US-Trustee-Program/flexion, @US-Trustee-Program/enterprise-architecture

CODEOWNERS:

* @US-Trustee-Program/ustp-team @US-Trustee-Program/flexion

CODEOWNERS @US-Trustee-Program/ustp-team
LICENSE.md @US-Trustee-Program/ustp-team

ops/cloud-deployment/ustp-cams-network.bicep @US-Trustee-Program/enterprise-architecture
ops/cloud-deployment/lib/network @US-Trustee-Program/enterprise-architecture
ops/cloud-deployment/lib/network/sql-vnet-rule.bicep @US-Trustee-Program/enterprise-architecture
ops/cloud-deployment/lib/keyvault @US-Trustee-Program/enterprise-architecture
ops/cloud-deployment/lib/cosmos/cosmos-account.bicep @US-Trustee-Program/enterprise-architecture
ops/cloud-deployment/lib/cosmos/cosmos-role-assignment.bicep @US-Trustee-Program/enterprise-architecture
ops/cloud-deployment/lib/cosmos/cosmos-custom-role.bicep @US-Trustee-Program/enterprise-architecture
ops/cloud-deployment/lib/identity @US-Trustee-Program/enterprise-architecture
ops/scripts/pipeline/slots/az-config-pep.sh @US-Trustee-Program/enterprise-architecture
ops/scripts/pipeline/slots/az-slot-api-resource-deploy.sh @US-Trustee-Program/enterprise-architecture
ops/scripts/pipeline/slots/az-slot-web-resource-deploy.sh @US-Trustee-Program/enterprise-architecture
ops/scripts/pipeline/az-add-allowed-ip.sh @US-Trustee-Program/enterprise-architecture
ops/scripts/pipeline/az-rm-allowed-ip.sh @US-Trustee-Program/enterprise-architecture
ops/scripts/pipeline/azure-deploy.sh @US-Trustee-Program/enterprise-architecture
ops/scripts/pipeline/az-cosmos-deploy.sh @US-Trustee-Program/enterprise-architecture

readded custom role
  ops/cloud-deployment/ustp-cams-cosmos.bicep
Owners: @US-Trustee-Program/ustp-team, @US-Trustee-Program/flexion

added dependencies for network
  ops/cloud-deployment/ustp-cams-network.bicep
Owners: @US-Trustee-Program/enterprise-architecture

removed guid from role-assignment
  ops/cloud-deployment/lib/cosmos/cosmos-role-assignment.bicep
Owners: @US-Trustee-Program/enterprise-architecture

fixed typo
  ops/cloud-deployment/main.bicep
Owners: @US-Trustee-Program/ustp-team, @US-Trustee-Program/flexion

added further dependencies
  ops/cloud-deployment/ustp-cams-network.bicep
Owners: @US-Trustee-Program/enterprise-architecture

corrected ip prefix
  ops/cloud-deployment/ustp-cams-network.bicep
Owners: @US-Trustee-Program/enterprise-architecture

renamed subnet-private-endpoints
  ops/cloud-deployment/ustp-cams-network.bicep
Owners: @US-Trustee-Program/enterprise-architecture

corrected params
  ops/cloud-deployment/main.bicep
  ops/cloud-deployment/ustp-cams-network.bicep
Owners: @US-Trustee-Program/ustp-team, @US-Trustee-Program/flexion, @US-Trustee-Program/enterprise-architecture

readded guid to sqlRoleAssignmentName
  ops/cloud-deployment/lib/cosmos/cosmos-role-assignment.bicep
Owners: @US-Trustee-Program/enterprise-architecture

refined params passed in to deploy and subnet template
  .github/workflows/reusable-deploy.yml
  ops/cloud-deployment/lib/network/subnet.bicep
  ops/cloud-deployment/main.bicep
  ops/cloud-deployment/ustp-cams-cosmos.bicep
Owners: @US-Trustee-Program/ustp-team, @US-Trustee-Program/flexion, @US-Trustee-Program/enterprise-architecture

temporarily added deployVnet=false
  .github/workflows/reusable-deploy.yml
Owners: @US-Trustee-Program/ustp-team, @US-Trustee-Program/flexion

renamed modules to prevent conflict
  ops/cloud-deployment/ustp-cams-network.bicep
Owners: @US-Trustee-Program/enterprise-architecture

readded var for deploy vnet
  .github/workflows/reusable-deploy.yml
Owners: @US-Trustee-Program/ustp-team, @US-Trustee-Program/flexion

Added more accurate descriptions in bicep with indication of environment Requirements
  ops/cloud-deployment/main.bicep
Owners: @US-Trustee-Program/ustp-team, @US-Trustee-Program/flexion

fixed some formatting in main bicep
  ops/cloud-deployment/main.bicep
Owners: @US-Trustee-Program/ustp-team, @US-Trustee-Program/flexion

uncommented test steps
  .github/workflows/continuous-deployment.yml
Owners: @US-Trustee-Program/ustp-team, @US-Trustee-Program/flexion

removed commented out dependencies
  .github/workflows/continuous-deployment.yml
Owners: @US-Trustee-Program/ustp-team, @US-Trustee-Program/flexion
